services:
  cgwire:
    build:
      context: ..
      dockerfile: kitsu-docker/Dockerfile
    container_name: kitsu
    init: true
    tty: true
    stdin_open: true
    ports:
      - "8012:80"
      - "1080:1080"
    volumes:
      - zou-db:/var/lib/postgresql
      - zou-previews:/opt/zou/previews
    restart: unless-stopped  # survives VM reboots

volumes:
  zou-db:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './zou-storage/db'
  zou-previews:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './zou-storage/previews'
